@import '~antd/dist/antd.css';

.operation-wrapper{
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid #efefef;
    display: flex;
    align-items: center;
    align-self: center;
    line-height: 1.2rem;
    justify-content: center;
}

.operation-wrapper-active{
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid rgb(165, 216, 236);
    display: flex;
    align-items: center;
    align-self: center;
    line-height: 1.2rem;
    justify-content: center;
}

.operation-wrapper .icon{
    color: gray;
}

.operation-wrapper-active .icon{
    color: rgb(49, 155, 197);
}